/Back/.vs
/Back/packages
/Back/App/MFI.WebApi/bin
/Back/App/MFI.WebApi/obj
/Back/App/MFI.Domain/bin
/Back/App/MFI.Domain/obj
/Back/MFI.Application/obj/Debug
/Back/App/MFI.Application/bin/Debug
/Back/App/MFI.Application/obj/Debug
/Back/App/MFI.IoC/bin/Debug
/Back/App/MFI.IoC/obj/Debug
/Back/App/MFI.Data.EF/bin/Debug
/Back/App/MFI.Data.EF/obj/Debug
/Back/App/MFI.Utils/bin/Debug
/Back/App/MFI.Utils/obj/Debug
/Back/App/MFI.Application/bin/Release
/Back/App/MFI.Data.EF/bin/Release
/Back/App/MFI.Application/obj/Release
/Back/App/MFI.Data.EF/obj/Release
/Back/App/MFI.IoC/bin/Release
/Back/App/MFI.IoC/obj/Release
/Back/App/MFI.Utils/bin/Release
/Back/App/MFI.Utils/obj/Release
/_docs/estorias/~$1. Criação de Fornecedor.docx
/Back/App/MFI.WebApi/Properties/PublishProfiles/mfiapiProfile.pubxml.user
/Back/App/MFI.WebApi/Properties/PublishProfiles
/Back/App/MFI.WebAppMVC/bin
/Back/App/MFI.WebAppMVC/obj
