
@{
    ViewBag.Title = "Escolha o tipo de Usuário";
}
<br />
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <p class=" col-12 text-center">Olá seja bem vindo(a) o que você deseja fazer?</p>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="lead">Você pode procurar orçamentos:</p>
                                <ul class="list-unstyled">
                                    <li><i class="fas fa-check text-success">&nbsp;&nbsp;</i>Fazer Orçamentos para sua festa</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-md-12">
                                <button type="button" class="btn btn-primary btn-lg btn-block">
                                    <i class="far fa-hand-point-right"> &nbsp;</i> Entre aqui
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="lead">Você pode oferecer orçamentos:</p>
                                <ul class="list-unstyled">
                                    <li><i class="fas fa-check text-success">&nbsp;&nbsp;</i> Mostre seus serviços</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-md-12">
                                <button type="button" class="btn btn-secondary btn-lg btn-block">
                                    <i class="far fa-hand-point-right"> &nbsp;</i> Entre aqui
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>