@using MFI.Domain.Enums

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="required form-group">
                            <label for="txtEmail" class="control-label">Email:</label>
                            <input class="new-provider-form" name="clientType" type="hidden" value="@ClientType.Provider" />
                            <input class="form-control new-provider-form"
                                   name="email"
                                   placeholder="Digite um email"
                                   type="email"
                                   value="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="required form-group">
                            <label for="txtName" class="control-label">Nome</label>
                            <input class="form-control new-provider-form"
                                   name="name"
                                   placeholder="Digite o nome"
                                   type="text"
                                   value="">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="txtCompanyName" class="control-label">
                                Razão Social
                                <span class="small font-italic">(opcional, apenas se tiver empresa registrada)</span>
                            </label>
                            <input class="form-control new-provider-form"
                                   name="companyName"
                                   placeholder="Digite a Razão Social"
                                   type="text"
                                   value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="required form-group">
                            <label for="txtDescription" class="control-label">Sobre você:</label>
                            <textarea class="form-control new-provider-form"
                                      name="description"
                                      placeholder="Digite algumas palavras sobre você/seu trabalho"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="required form-group">
                            <label for="txtPassword" class="control-label">Senha</label>
                            <input class="form-control new-provider-form"
                                   name="password"
                                   placeholder="Digite sua senha"
                                   type="password"
                                   value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="required form-group">
                            <label for="txtPassword" class="control-label">Confirme a Senha</label>
                            <input class="form-control new-provider-form"
                                   name="passwordConfirm"
                                   placeholder="Digite sua senha"
                                   type="password"
                                   value="">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>