<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    <input type="checkbox" />&nbsp;Fotos
                </label>
            </div>
            <div class="panel-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque rutrum turpis et turpis mollis commodo.
                    Maecenas quis est condimentum, sagittis neque eget, fermentum felis.
                </p>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <span class="input-group-addon">Preço inicial</span>
                    <input class="form-control" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-block btn-success">
                            <i class="fas fa-save"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    <input type="checkbox" />&nbsp;Fotos
                </label>
            </div>
            <div class="panel-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque rutrum turpis et turpis mollis commodo.
                    Maecenas quis est condimentum, sagittis neque eget, fermentum felis.
                </p>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <span class="input-group-addon">Preço inicial</span>
                    <input class="form-control" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-block btn-success">
                            <i class="fas fa-save"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>  <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    <input type="checkbox" />&nbsp;Fotos
                </label>
            </div>
            <div class="panel-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque rutrum turpis et turpis mollis commodo.
                    Maecenas quis est condimentum, sagittis neque eget, fermentum felis.
                </p>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <span class="input-group-addon">Preço inicial</span>
                    <input class="form-control" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-block btn-success">
                            <i class="fas fa-save"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>  <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    <input type="checkbox" />&nbsp;Fotos
                </label>
            </div>
            <div class="panel-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque rutrum turpis et turpis mollis commodo.
                    Maecenas quis est condimentum, sagittis neque eget, fermentum felis.
                </p>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <span class="input-group-addon">Preço inicial</span>
                    <input class="form-control" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-block btn-success">
                            <i class="fas fa-save"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>  <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    <input type="checkbox" />&nbsp;Fotos
                </label>
            </div>
            <div class="panel-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque rutrum turpis et turpis mollis commodo.
                    Maecenas quis est condimentum, sagittis neque eget, fermentum felis.
                </p>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <span class="input-group-addon">Preço inicial</span>
                    <input class="form-control" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-block btn-success">
                            <i class="fas fa-save"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>  <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    <input type="checkbox" />&nbsp;Fotos
                </label>
            </div>
            <div class="panel-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque rutrum turpis et turpis mollis commodo.
                    Maecenas quis est condimentum, sagittis neque eget, fermentum felis.
                </p>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <span class="input-group-addon">Preço inicial</span>
                    <input class="form-control" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-block btn-success">
                            <i class="fas fa-save"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
