@using MFI.Application.ViewModels.Clients.Providers

@model ServiceProviderListView

@{
    var serviceList = Model.Items;
}

<div class="row">
    @foreach (var service in serviceList)
    {
        @Html.Partial("_ServiceProviderCard", service)

    }
</div>
