
@{
    ViewBag.Title = "Novo Fornecedor";
}


<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading " ligth>
                <h3 class="panel-title">
                    <a class="btn btn-default" href="@Url.Action("ChooseType","User", null)">
                        <i class="fas fa-reply"></i>
                    </a>&nbsp; Fornecedor
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="required form-group">
                                <label for="txtEmail" class="control-label">Email:</label>
                                <input class="form-control new-requester-form"
                                       id="txtEmail"
                                       name="email"
                                       placeholder="Digite um email"
                                       type="email"
                                       value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="required form-group">
                                <label for="txtName" class="control-label">Nome</label>
                                <input class="form-control new-requester-form"
                                       id="txtName"
                                       name="name"
                                       placeholder="Digite o nome"
                                       type="text"
                                       value="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="txtCompanyName" class="control-label">
                                    Razão Social
                                    <span class="small font-italic">(opcional, apenas se tiver empresa registrada)</span>
                                </label>
                                <input class="form-control new-requester-form"
                                       id="txtCompanyName"
                                       name="companyName"
                                       placeholder="Digite a Razão Social"
                                       type="text"
                                       value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="required form-group">
                                <label for="txtDescription" class="control-label">Sobre você:</label>
                                <textarea class="form-control new-requester-form"
                                          id="txtDescription"
                                          name="description"
                                          placeholder="Digite algumas palavras sobre você/seu trabalho"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="required form-group">
                                <label for="txtPassword" class="control-label">Senha</label>
                                <input class="form-control new-requester-form"
                                       id="txtPassword"
                                       name="password"
                                       placeholder="Digite sua senha"
                                       type="password"
                                       value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="required form-group">
                                <label for="txtPassword" class="control-label">Confirme a Senha</label>
                                <input class="form-control new-requester-form"
                                       id="txtPasswordConfirm"
                                       name="passwordConfirm"
                                       placeholder="Digite sua senha"
                                       type="password"
                                       value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <a class="button180 btn btn-danger"
                                   href="@Url.Action("Index","Home", null)"
                                   title="Cancelar Criação de Fornecedor">
                                    <i class="fas fa-ban">&nbsp;</i>Cancelar
                                </a>
                                <button class="button180 btn btn-secondary"
                                        id="btnCleanProvider"
                                        title="Limpar Campos"
                                        type="button">
                                    <i class="fas fa-eraser">&nbsp;</i>Limpar
                                </button>
                                <button class="button180 btn btn-success"
                                        id="btnCreateProvider"
                                        title="Criar Fornecedor"
                                        type="button">
                                    <i class="fas fa-save">&nbsp;</i>Criar Novo Fornecedor
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<input id="urlNewClientProvider" type="hidden" value="@Url.Action("Create","ClientProvider")" />

@section scripts{
    <script src="~/Scripts/pages/provider/new-provider.js"></script>
}