<p class="lead">Registrar no sistema </p>
<ul class="list-unstyled">
    <li><i class="fas fa-check text-success ">&nbsp;&nbsp;</i>Faça Orcamentos </li>
    @*<li>Escolha seus fornecedores favoritos </li>
    <li>Avalie os fornecedores cadastrados </li>*@
</ul>

Ou

<ul class="list-unstyled">
    <li><i class="fas fa-check text-success">&nbsp;&nbsp;</i>Mostre seus serviços</li>
    @*<li>Mostre suas promoções</li>*@ 

</ul>
<p>
    <a class="btn btn-info btn-block btn btn-secondary" href="@Url.Action("ChooseType","User", null)" type="button">
        Sim quero me registrar
    </a>
</p>