@{
    bool isAuthenticated = ViewBag.IsAuthenticated ?? false;
    string userName = ViewBag.Name ?? string.Empty;
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Quero Fazer Festa</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                @if (!isAuthenticated)
                {
                    <li>
                        <button class="btn btn-secondary btn-lg"
                                data-toggle="modal"
                                data-target="#choose-client-type"
                                title="Entrar ou Cadastrar novo Cliente."
                                type="button">
                            Entrar || Cadastrar
                        </button>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Manage","User")">
                            <i class="fas fa-user">&nbsp;&nbsp;</i>@userName
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LogOut","User")">
                            <i class="fas fa-power-off">&nbsp;</i>Sair
                        </a>
                    </li>
                }
                <li>&nbsp;&nbsp;&nbsp;</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="modal fade" id="choose-client-type" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">O que voce deseja? </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        @Html.Partial("_LogIn")
                    </div>
                    <div class="col-md-6 col-sm-12">
                        @Html.Partial("_ChooseCreateUser")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>