@using MFI.Domain.Enums

<p class="lead">Entrar no sistema: </p>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Para buscar orçamentos</a></li>
        <li><a href="#tabs-2">Para oferecer orçamentos</a></li>
    </ul>
    <div id="tabs-1">
        <h4 class="text-center">Cliente</h4>
        @Html.Partial("_LoginForm", ClientType.Requester)

    </div>
    <div id="tabs-2">
        <h4 class="text-center">Fornecedor</h4>
        @Html.Partial("_LoginForm", ClientType.Provider)
    </div>
</div>
