@using MFI.Domain.Enums

<p class="lead">Entrar no sistema: </p>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Para buscar orçamentos</a></li>
        <li><a href="#tabs-2">Para oferecer orçamentos</a></li>
    </ul>
    <div id="tabs-1">
        <h4 class="text-center">Cliente</h4>
        <form action="@Url.Action("Login", "User")" id="loginForm" method="post" novalidate="">
            <div class="form-group">
                <label class="control-label" for="username">Email</label>
                <input autocomplete="off"
                       class="form-control"
                       id="username"
                       name="email"
                       placeholder="meuemail@gmail.com"
                       title="Digite o seu email"
                       type="text">


            </div>
            <div class="form-group">
                <label class="control-label" for="password">Senha</label>
                <input autocomplete="off"
                       class="form-control"
                       id="password"
                       name="password"
                       type="password"
                       title="Digite sua Senha">

            </div>
            <div class="form-group">
                <input name="clientType" type="hidden" value="@ClientType.Requester" />
            </div>
            <button type="submit" class="btn btn-success btn-block btn btn-secondary">
                Entrar
            </button>
        </form>
    </div>
    <div id="tabs-2">
        <h4 class="text-center">Fornecedor</h4>
        <form action="@Url.Action("Login", "User")" id="loginForm" method="post" novalidate="">
            <div class="form-group">
                <label class="control-label" for="username">Email</label>
                <input autocomplete="off"
                       class="form-control"
                       id="username"
                       name="email"
                       placeholder="meuemail@gmail.com"
                       title="Digite o seu email"
                       type="text">


            </div>
            <div class="form-group">
                <label class="control-label" for="password">Senha</label>
                <input autocomplete="off"
                       class="form-control"
                       id="password"
                       name="password"
                       type="password"
                       title="Digite sua Senha">

            </div>
            <div class="form-group">
                <input name="clientType" type="hidden" value="@ClientType.Provider" />
            </div>
            <button type="submit" class="btn btn-success btn-block btn btn-secondary">
                Entrar
            </button>
        </form>
    </div>
</div>
